.bio-container {
  background-color: black;
  height: 80vh;
  color: white;
  padding: 40px;
}

.bio {
  width: 70%;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  display: block;
  z-index: 1;
}

.line {
  display: flex;
  flex-wrap: nowrap; /* Prevents content from wrapping to a new line */
  align-items: center; /* Aligns text and images vertically */
  margin-bottom: 20px; /* Adds space between lines */
  white-space: nowrap; /* Prevents text from breaking onto new lines */
}

.line span {
  display: inline-flex; /* Ensures span content stays inline */
  align-items: center;
  margin-right: 10px; /* Adds space between spans */
}

.line img {
  height: 30px; /* Adjust image size */
  margin-left: 5px; /* Adds space between text and image */
}

.invert {
  filter: invert(1); /* Invert colors for specific images */
}

.underline {
  text-decoration: underline; /* Underline text style */
}

.italics {
  font-style: italic; /* Italicize text */
}

.bold {
  font-weight: 700; /* Bold text */
}

/* Contact Button Styling */
button.contact {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  display: block;
  border: 1px solid white;
  margin-left: 5px;
  margin-top: 20px;
  padding: 5px 10px;
  text-align: left;
  color: pink;
  background-color: black;
  cursor: pointer;
}

.contact a {
  color: pink;
  text-decoration: none; /* Remove underline from the contact link */
}

/* Responsive Styling */
@media (max-width: 960px) {
  .bio {
    font-size: 20px;
    width: 100%;
    /* Adjust font size for smaller screens */
  }

  .bio-container {
    background-color: black;
    height: 100vh;
    color: white;
    padding: 40px;
  }

  .desktop-bio {
    display: none; /* Hide desktop structure on mobile */
  }

  .mobile-bio {
    display: block; /* Show mobile structure on mobile */
  }

  .line img {
    height: 20px; /* Reduce image size for smaller screens */
  }

  .line {
    margin-bottom: 10px;
  }
}
