button.contact {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  display: block;
  border: 1px solid white;
  margin-left: 5px;
  margin-top: 20px;
  padding: 5px 10px;
  text-align: left;
  color: pink;
  background-color: black;
  cursor: pointer;
}

.contact a {
  color: pink;
  text-decoration: none;
}

strong {
  font-weight: 700;
}

/* Hero.css */

.bio {
  width: 70%;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: black;
  display: block;
  margin: 30px;
  margin-left: 60px;
  z-index: 1;
}

.line {
  display: flex;
  align-items: center; /* Center content vertically */
}

.line img {
  height: 35px;
  margin-right: 10px; /* Adjust spacing between the icon and text */
  vertical-align: middle; /* Align the icon vertically with text */
}

.line span {
  display: flex;
  align-items: center; /* Ensure text also aligns with the icon */
}

.left-align {
  text-align: left;
}

@media (max-width: 960px) {
  .hero {
    padding-bottom: 10px;
  }

  .bio {
    font-size: 20px;
  }
}

@media (max-width: 960px) {
  .hero {
    padding-bottom: 10px;
  }

  .bio {
    font-size: 20px;
  }
}
