.Header {
  display: flex;
  position: fixed;
  color: black;
  justify-content: space-between;
  z-index: 7;
  width: 100%;
}

.logo h2 {
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
}

.header-item-1 {
  flex: 1;
  margin: 30px;
}

.header-item-2 {
  flex: 1;
  text-align: right;
  align-items: flex-start;
  margin: 30px;
}

.header-item-3 {
  flex: 1;
  display: flex;
  text-align: right;
  margin: 30px;
  justify-content: flex-end;
  gap: 60px;
}

.switch-it-up {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid black;
  width: 110px;
  text-align: center;
}

.about-link {
  font-size: 25px;
  margin: 40px 30px 20px 10px;
  text-align: right;
  opacity: 80%;
}

.about-anchor:hover {
  cursor: pointer;
  text-decoration: underline;
}
