.Header {
  display: flex;
  position: fixed;
  color: white;
  justify-content: space-between;
  z-index: 7;
  width: 100%;
}

.logo h1 {
  font-weight: 400;
}

.header-item-1 {
  flex: 1;
  padding: 60px;
}

.header-item-2 {
  flex: 1;
  text-align: center;
  align-items: flex-start;
  padding: 60px;
}

.header-item-3 {
  flex: 1;
  display: flex;
  text-align: right;
  padding: 60px;
  justify-content: flex-end;
  gap: 60px;
}

.about-link {
  font-size: 25px;
  margin: 40px 30px 20px 10px;
  text-align: right;
  opacity: 80%;
}
.about-anchor:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 960px) {
  .logo {
    margin-bottom: 10px;
  }
}
