button.contact {
  font-family: "Quicksand", sans-serif;

  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  display: block;
  border: 1px solid white;
  margin-left: 5px;
  margin-top: 20px;
  padding: 5px 10px;
  text-align: left;
  color: pink;
  background-color: black;
  cursor: pointer;
}

.contact a {
  color: pink;
  text-decoration: none;
}

strong {
  font-weight: 700;
}

.hero {
  color: white;
  font-family: "balto", sans-serif;
  background-color: black;
  padding: 10px;
  padding-bottom: 100px;
  text-align: left;
}

/* Hero.css */

.hero-container {
  position: relative;
  overflow: hidden;
  background-color: black;
}

.bio {
  position: relative;
  width: 70%;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: white;
  display: block;
  margin: 30px;
  margin-left: 60px;
  z-index: 1;
  mix-blend-mode: difference;
}

.spotlight {
  position: absolute;
  width: 100px;
  height: 100px;
  background: white;
  pointer-events: none;
  transform: translate(50%, 50%);
  mix-blend-mode: difference;
  z-index: 0;
  border-radius: 50%;
  color: black;
}

.left-align {
  text-align: left;
}

hr {
  margin: 0;
}

.details-container {
  margin-left: 60px;
}

a.summary {
  font-family: "komet", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-decoration: underline;
  color: white;
}

a.summary:visited {
  color: white;
}

a.summary:hover {
  color: pink;
}

.summary-links {
  padding: 10px;
  color: white;
}

a[href^="mailto:"] {
  color: white;
}

.summary-links h2 {
  color: white;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  opacity: 80%;
  margin-bottom: 2.5px;
}

@media (max-width: 960px) {
  .summary-links {
    padding: 5px;
  }

  .summary-links h2 {
    margin: 0 auto;
    padding: 1px;
    font-size: 12px;
  }

  a.summary {
    font-size: 12px;
  }

  /* Adjusting columns for small screens */
  .col-sm-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 960px) {
  .hero {
    padding-bottom: 10px;
  }

  .bio {
    font-size: 20px;
  }
}
