button.contact {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  display: block;
  border: 1px solid white;
  margin-left: 5px;
  margin-top: 20px;
  padding: 5px 10px;
  text-align: left;
  color: pink;
  background-color: black;
  cursor: pointer;
}

.contact a {
  color: pink;
  text-decoration: none;
}

strong {
  font-weight: 700;
}

.hero {
  color: black;
  font-family: "balto", sans-serif;
  background-color: white;
  padding: 10px;
  padding-bottom: 100px;
  text-align: left;
}

/* Hero.css */

.hero-container {
  position: relative;
  overflow: hidden;
  background-color: white;
}

.bio {
  position: relative;
  width: 70%;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: black;
  display: block;
  margin: 30px;
  margin-left: 60px;
  z-index: 1;
  mix-blend-mode: difference;
}

.spotlight {
  position: absolute;
  width: 100px;
  height: 100px;
  background: black;
  pointer-events: none;
  transform: translate(50%, 50%);
  mix-blend-mode: difference;
  z-index: 0;
  border-radius: 50%;
  color: white;
}

.left-align {
  text-align: left;
}

hr {
  margin: 0;
}

@media (max-width: 960px) {
  .hero {
    padding-bottom: 10px;
  }

  .bio {
    font-size: 20px;
  }
}
