/* ========== Container Summary Styling ========== */
.containerSummary {
  max-width: 1400px;
  margin: 0 auto;
  background-color: black;
  text-align: left;
}

/* ========== Summary Link Styling ========== */
a.summary {
  font-family: "komet", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  color: white; /* Default color for the link */
}

a.summary:visited {
  color: white; /* Visited link color */
}

/* ========== Summary Links Styling ========== */
.summary-links {
  padding: 10px;
  color: white;
}

.summary-links h2 {
  color: white;
  font-weight: 400;
  font-size: 12px;
  opacity: 80%;
  margin: 0px 0px 0px 0px;
}

/* ========== Responsive Styling ========== */
@media (max-width: 960px) {
  .summary-links {
    padding: 5px;
  }

  .summary-links h2 {
    margin: 0 auto;
    padding: 1px;
    font-size: 12px;
  }

  a.summary {
    font-size: 12px;
  }

  /* Adjusting columns for small screens */
  .col-sm-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
