@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Quicksand&display=swap");

.App {
  margin: 0 auto;
}

container {
  max-width: 1400px;
  margin: 0 auto;
}

a :hover {
  text-decoration: underline;
}

h2 {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  opacity: 80%;
  margin-bottom: 2.5px;
}

h4 {
  padding: 5px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  opacity: 80%;
  margin-bottom: 2.5px;
}

p {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
